@import '../style';

.tic-toe-container {
	display: flex;

	.tic-toe-board-container {
		padding: 5px;
	}

	.tic-toe-display-container {
		padding: 0px 5px 5px 5px;

		& h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
