:host {
	.tic-toe-container {
		display: flex;

		.tic-toe-board-container {
			padding: 5px;
		}

		.tic-toe-display-container {
			padding: 5px;
		}

	//	.tic-toe-board-container, .tic-toe-display-container {
	//		display: inline-block;
	//	}
	}
}
